.root {
  width: 100%;
  background-color: #1c2c3c;
  color: #ffffff;
}

.container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 16px 5px; /* top right/left bottom */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* logo */
.logo {
  margin-top: 16px;
  margin-bottom: 12px;
  height: 50px;   /* tamanho da logo em mobile */
  width: auto;
}

/* copyright */
.copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .logo {
    height: 110px; /* tamanho da logo em desktop */
  }
  .copyright {
    font-size: 13px;
  }
}
