/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
html, body { scroll-behavior: smooth; }

@font-face {
  font-family: 'RoxboroughCF';
  src: url('./assets/fonts/RoxboroughCF-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RoxboroughCF';
  src: url('./assets/fonts/RoxboroughCF-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BodoniMT';
  src: url('./assets/fonts/Bodoni-MT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.categorias-carousel .swiper-button-prev,
.categorias-carousel .swiper-button-next {
  display: none !important; 
}


/* Estilo base para os botões de navegação customizados */
.custom-nav-button {
  position: absolute;
  top: 30%; /* Centraliza verticalmente com o container */
  transform: translateY(-30%); /* Ajuste para centralizar o próprio botão */
  width: 44px; /* Mantém a largura do botão */
  height: 44px; /* Mantém a altura do botão */
  background-color: transparent;
  color: #1c2c3c; /* Cor escura */
  cursor: pointer;
  z-index: 10; /* Garante que estejam acima de outros elementos */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}

.custom-nav-button:hover {
  color: #c9bd8f; /* Cor dourada/bege */
}

/* Ícones dos botões - AUMENTADO O TAMANHO DA FONTE */
.custom-nav-button::after {
  font-family: 'swiper-icons'; /* Usa a fonte de ícones do Swiper */
  font-size: 36px; /* Aumentei o tamanho da fonte do ícone */
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev-custom::after {
  content: 'prev'; /* Conteúdo do ícone de "anterior" */
}

.swiper-button-next-custom::after {
  content: 'next'; /* Conteúdo do ícone de "próximo" */
}


/* Posição específica dos botões */
.swiper-button-prev-custom {
  left: -20px; /* Ajustado um pouco mais para fora */
}
.swiper-button-next-custom {
  right: -20px; /* Ajustado um pouco mais para fora */
}

/* Medias queries para ajustar o posicionamento e garantir que não fiquem colados */
@media (min-width: 768px) {
  .swiper-button-prev-custom {
    left: -60px; /* Mais para fora em telas maiores */
  }
  .swiper-button-next-custom {
    right: -60px; /* Mais para fora em telas maiores */
  }
}

/* Em telas muito pequenas, pode ser necessário ajustar a distância lateral para não ficarem escondidos */
@media (max-width: 639px) {
  .swiper-button-prev-custom {
    left: 2px;
  }
  .swiper-button-next-custom {
    right: 2px;
  }
}